* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media Query para Dispositivos Móveis */
@media (min-width: 0px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li:hover {
        text-decoration: underline #fff;
        transition: transform 0.7s ease-in-out;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    div.top {
        text-align: justify;
        margin: 35px 0 45px 0;
        letter-spacing: 2px;
    }

    div.top a {
        text-align: justify;
        margin: 35px 0 45px 0;
        letter-spacing: 2px;
    }

    div h3#volta {
        font-family: 'CoinageCapsKrugerGray', sans-serif;
        text-align: justify;
        margin: 35px 0 45px 0;
        letter-spacing: 2px;
        border: 2px solid #fff;
        padding-left: 20px;
    }
}

/* Media Query para Tablets */
@media (min-width: 767px) {
    article,
    section,
    footer {
        margin-right: 155px;
        margin-left: 155px;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list {
        flex-direction: row;
        position: relative;
        top: 0;
        height: auto;
        background: none;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }
}

/* Media Query para Desktops */
@media (min-width: 1000px) {
    article,
    section,
    footer,
    aside {
        margin-right: 155px;
        margin-left: 155px;
    }

    .mobile-menu {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        position: relative;
        top: 0;
        height: auto;
        background: none;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }
}


body {
    background: url(imagens/inteligencia_artificial_ilustra.webp) no-repeat center center fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(imagens/inteligencia_artificial_ilustra.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

article,
section,
footer {
    color: #fff;
    text-align: justify;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-right: 155px;
    margin-left: 155px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 35px;
    font-family: 'sufrimeda', sans-serif;
    letter-spacing: 3px;
}

h2,
h3,
h3#deep {
    text-align: justify;
    margin: 0 0 45px 0;
    font-family: 'philosopher-regular', sans-serif;
    letter-spacing: 3px;
}

p {
    text-align: justify;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo:hover {
    cursor: default;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
